/* Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		/*
		font-size: 100%;
		font: inherit;
		*/
		vertical-align: baseline;
	}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
	body { line-height: 1; }
	ol, ul { list-style: none; }
	blockquote, q { quotes: none; }
	blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
	table { border-collapse: collapse; border-spacing: 0; }


/* Basic Styles
================================================== */
	html, body, div, span, h2, p, a, img, ol, ul, li {
		color: rgb(45, 45, 45);
		font: 18px/1.6 'Open Sans';
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
	}
	body {
		background: #fff;
		padding: 20px;
	}
	pre {
		color: rgb(236, 127, 39);
		font: 16px/1.7 'Open Sans';
		overflow: auto;
	}


/* Typography
================================================== */
	h1, h2 {
		color: rgb(134, 177, 53);
		font-size: 220%;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		margin: 25px 0 10px;
	}
	h2 { font-size: 200%; }
	p { margin-bottom: 10px; }


/* Links
================================================== */
	a, a:visited {
		border: 0px none;
		color: rgb(236, 127, 39);
		outline: 0px;
		text-decoration: none;
	}
	a:hover, a:focus {
		color: rgb(236, 127, 39);
		border-bottom: 1px dotted rgb(236, 127, 39);
	}
	a.tapTarget {
		font-size: 20px;
		font-weight: bold;
		margin: 5px;
	}


/* Lists
================================================== */
	ul, ol { margin: 0 0 20px 20px; }
	ul { list-style: none; }
	ul.circle { list-style: circle outside; }
	.oj, ul.oj>li { color: rgb(236, 127, 39); }


/* Images
================================================== */
	img { margin-bottom: 10px; }
	.scale {
		max-width: 100%;
		height: auto;
	}


/* Other
================================================== */
	.iwb { border: solid 1px black; }
	