# This folder does not require access over HTTP
# (the following directive denies access by default)
# Order allow,deny

# multiple file types
<FilesMatch ".(fla|htaccess|htm|html|ini|php|phps|tpl|txt|xml|xsl)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>
